body{
	background-color:#fbf7f5;
}
button{
	background-color:white;


}
.navigation{
	background-color:#add8e6;
	padding:1% 0 1% 0;
	

}

.navigationOptions{
	list-style-type:none;
	display: flex;
	flex-direction:row;
	width:50%;
	justify-content: space-around;
	
}
.numbers{
	
	height:100%;
	background-color:white;
	font-size:20px;
	border:black 2px solid;
	border-radius:15%;
	

}

.numberpad{
	margin-left:13%;
	
	margin-top:20px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 2%;
grid-row-gap: 2%;
		}
	
.purchaselist{
border: solid grey 1px;
background-color:white;

height:50%;

list-style:none;
}
.display{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;



}
.quickSelect{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 10px;

}
.commonItems{
	width:95%;

	height:80px;
	background-color:white;
	font-size:15px;
	border:black 2px solid;
		border-radius:15%;

}
.cashandtender{
	margin-top:0px;
	margin-left:10%;
	display:flex;
	flex-direction:column;
	width:90%;



}
.textbox{
	margin-bottom:20px;
	width:50%;
	height:50px;
	margin-left:20%;
}
.tenderbox{
	margin-bottom:20px;
	margin-left:29%;
	height:50px;
	margin-top:20px;	
	

}
.itemdisplay{
	display:flex;
	flex-direction:column;
	margin-right:2%;
	

}
.nan{
	height:60%;

	background-color:white;
	font-size:20px;
	border:black 2px solid;
	border-radius:15%;
}
.tender{
	
	width:50%;
	padding:3%;
	margin-right:20%;
	margin-top:5%;
	background-color:blue;
}
.cash
{margin-top:5%;
width:50%;
padding:3%;
margin-right:20%;
background-color:green;
margin-bottom:2%;}
.change{
	margin:30px 20% 0px 0px;
	height:10%;
	font-size:30px;
	align-self: center;
	width:70%;
	text-align:center;
	padding-top:20px;
}
.actionbutton{
		align-self: center;
		color:white;
}
.changes{
	border: 1px solid black;
	width:50%;
	padding-bottom:15%;
	margin-left:10%;
}
.pumps{
	display:flex;
	flex-direction:row-wrap;
	justify-content:space-around;
	width:100%;
	height:150px;


}
.pump{
	height: 100%;
	background-color:white;
	font-size:20px;
	border:black 2px solid;
	width:100%;
	margin-left:1%;
		border-radius:15%;
}
.wholeMilk{
	background-color:blue;
}
.semiMilk{
	background-color:green;
}
.skimMilk{
	background-color:red;
}
